* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    background-color: rgb(218, 223, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    background-color: black;
    width: clamp(846px, 80vw, 1400px);
    height: 1185px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0 0 8px rgb(182, 182, 182);
    border-radius: 2.5px;
    display: grid;
    grid-template-rows: 25px repeat(8, 1fr);
    gap: 1px;
}

.week {
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 1px;

}

.header,
.dates,
.contents {
    display: grid;
    grid-template-columns: repeat(7, minmax(120px, 200px));
    gap: 1px;
}

.dates>div,
.contents>div {
    background-color: white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>div {
    background-color: #2862FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day.sun,
.day.sat {
    background-color: red;
}

.content.sun,
.content.sat {
    background-color: #FCE5CD;
}

.week-7 .date {
    background-color: #FFE599;
}

.week-8 .date {
    background-color: #B7D7A8;
}

.header {
    position: sticky;
    top: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.editable {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

/* THESE CLASSES ARE FOR TESTING ONLY AND WILL BE DELETED AFTER */






/* 

.header,
.dates,
.contents {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.dates {
    grid-area: dates;
}

.contents {
    grid-area: content;
}

.header {
    grid-area: header;
    color: white;
}

.week {
    grid-area: week;
    color: black;
    display: grid;
    grid-template-rows: 20px 125px;
    grid-template-areas: 
        "dates"
        "content";
    gap: 1px;
}

.calendar {
    background-color: black;
    width: 80vw;
    height: 1180px;
    margin-top: 5vh;
    box-shadow: 0 0 4px rgb(182, 182, 182);
    display: grid;
    grid-template-rows: 20px repeat(8, 145px);
    gap: 1px;
    grid-template-areas: 
        "header"
        "week"
        "week"
        "week"
        "week"
        "week"
        "week"
        "week"
        "week";
    border: 1px solid black;
}

.header-day {
    background-color: #2862FF;
}

.dates>div,
.contents>div {
    background-color: white;
}

#sat,
#sun {
    background-color: #FF0000;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-2 {
    grid-row-start: 3;
}  */
