* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    background-color: rgb(218, 223, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.dates,
.content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.header {
    grid-area: header;
    color: white;
}

.week {
    grid-area: week;
    background-color: white;
    
}

.calendar {
    background-color: black;
    width: 80vw;
    height: 300px;
    margin-top: 5vh;
    box-shadow: 0 0 4px rgb(182, 182, 182);
    display: grid;
    grid-template-rows: 20px 120px;
    gap: 1px;
    grid-template-areas: 
        "header"
        "week";
    border: 1px solid black;
}

.header-day {
    background-color: #2862FF;
}

#sat,
#sun {
    background-color: #FF0000;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

